@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Meower!</h1>
    <p class="blurb">
        Meower is the newest social media website to share your thoughts and pictuers,
        aimed towards cat lovers who like sharing pictures of their fluffy friends
    </p>
    <img src="images/Meower.png" />
</div>

