html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    border: solid;
    border-color: black;
    border-width: 5px;
}

.center {
    text-align: center;
}

.user-select{
    font-size: 24px;
}

.blurb{
    font-size: 24px;
}

.form-check-input {
    margin-right: 15px;
}

.form-label {
    vertical-align: middle;
}

.register-cat {
    margin-left: 100px;
}